<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Acceuil - Iplans Cameroun</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="iplan/assets/img/iplans favicon 1.png" rel="icon">
  <link href="iplan/assets/img/iplans favicon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="iplan/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="iplan/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="iplan/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="iplan/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="iplan/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="iplan/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="iplan/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="iplan/assets/css/style.css" rel="stylesheet">
  
 
</head>

<body>
   {% for header in header %}
       
  
 <!-- ======= Top Bar ======= -->
     
 <section id="topbar" class="d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex d-hide align-items-center">
         {% if header.email %}
      <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">{{header.email}} </a>
        {% endif %}

        {% if header.contact %}
      <i class="bi bi-phone-fill phone-icon"></i> <span class="top-phone">{{header.contact}} </span>
        {% endif %}
         
    </div>

    <!-- search -->
    <div>
      
      <form class="sear" role="search" id="form lang">
        <input type="search"
         placeholder="Search..."
         aria-label="Search through site content">
        <button><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
      </form>
    </div>

    <!-- languages -->
    <div class="lang">
      <label  for="langues">Langue:</label>
      <select name="nom-langues" id="nom-langues">
        <option value="Francais" data-icon="iplan/assets/img/flags/france-20.png"> French</option>
        <option value="English"  data-icon="iplan/assets/img/flags/great-britain-20.png">English</option>
        
      </select>
    </div>
      
    
  </div>
</section>
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo me-auto">
    {% if header.logoIplan %}
      
  
       <h1><a href="index.html"><img class="img-fluid" src="/uploads/{{ header.logoIplan.filename}}" ></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    {% endif %}
    </div>

    <nav id="navbar" class="navbar">
      <ul>
         {% for menu in header.iplanmenus %}
              {% if menu %}
                    {% if menu.iplansousmenus.count > 0  %}
                      
            <li class="dropdown"><a   href="{{menu.link}}"><span>{{menu.nomfr}} </span> <i class="bi bi-chevron-down"></i></a>
               <ul>
             {% for sousmenu in  menu.iplansousmenus %}
               <li><a href={{sousmenu.link}} >{{sousmenu}} </a></li>
             {% endfor %}
           
             
              </ul>
              </li>

                     {% else %}
                   <li><a class= "nav-link" href={{menu.link}} >{{menu.nomfr}} </a></li>
                    {% endif %}

                 
              {% endif %}
          {% endfor %}

        <!-- This script got from frontendfreecode.com -->
       
      </ul>
      
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    
  </div>

    
    
    
</header><!-- End Header -->

   {% endfor %}


    
        {% block body %}
        

        {% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
                  {% for footer in footer %}
                    
               
          <div class="col-lg-3 col-md-6 footer-info">
            <h3>{{footer.titre1fr}} </h3>
            <p>
              <strong>Siege Social:</strong><br>
              Bonamoussadi <br>
              Douala, Cameroun<br><br>
              <strong>B.P:</strong> 8215 Douala - Cameroun<br>
              <strong>Phone:</strong> +237 (2)33 52 00 02<br>
              <strong>Email:</strong> info@iplans.cm<br>
            </p>
            
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>{{footer.titre2fr}}</h4>
            <ul>
             {% for menu in footer.iplanmenus %}
               <li><i class="bx bx-chevron-right"></i> <a href="#">{{menu}} </a></li>
             {% endfor %}
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{{footer.titre3fr}}</h4>
            <ul>
            {% for sousmenu in footer.iplansousmenus %}
               <li><i class="bx bx-chevron-right"></i> <a href="#">{{sousmenu}} </a></li>
             {% endfor %}
               
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>{{footer.titre4fr}}</h4>
            <p> {{footer.paragraphefr}} </p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>  
          </div>

        </div>
      </div>
    </div>
          {% endfor %}
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>IPLANS CAMEROUN</span></strong>. Tous les droits reserves
      </div>
      
    </div>
  </footer><!-- End Footer -->
    

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <script src="iplan/assets/vendor/purecounter/purecounter.js"></script>
  <script src="iplan/assets/vendor/aos/aos.js"></script>
  <script src="iplan/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="iplan/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="iplan/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="iplan/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="iplan/assets/vendor/php-email-form/validate.js"></script>
  
  <!-- Template Main JS File -->
  <script src="iplan/assets/js/custom-selectbox.js"></script>
  <script src="iplan/assets/js/main.js"></script>
  

</body>

</html>